@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Orbitron&display=swap');

/* Alteração do Box Model para border-box */
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 18px;
}


body{
    font-family: "Open Sans",verdana,sans-serif;
    background-image: url(../imagens/textura-fundo.png);
    background-attachment: fixed;
}

/* torna as imagens responsivas */
img{ max-width: 100%; }

/* CSS Reset */
body, h1, h2, h3, p, figure {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:black;
}

header, footer {
    background-color: rgba(97, 97, 97, 0.26);
    text-align: center;
}

header{
    border-bottom: solid 1px;
    margin-bottom: 10px;
}

footer{ border-top: solid 1px; }

article{
    background-color: rgba(255, 255, 255, 0.63);
    padding: 2%;
    box-shadow: grey 1px 1px 5px;
    margin: 10px 0;
}

main{
    /* Ao declarar uma largura (menor que 100%) e margem automatica, centralizamos o box/bloco */
    width: 95%;
    margin: auto;
}

h1, nav, h2, h3, button{
    font-family: orbitron, sans-serif;
}

h2, h3, p { padding: 1% 0; }

footer h2{ font-size: 1rem; }

footer img{ 
    width: 30px;
    margin-left: 0.5rem ;
    margin-right: 0.5rem;
}

footer p{ font-size: 0.6rem; }

section, figure{ margin: 2% 0;}

figcaption{
    text-align: center;
    font-weight: bold;
}

#voltar{
    position: fixed;
    /* coordenadas */
    right: 5px;
    bottom: 5px;
}

#voltar a{
    background-color: white;
    padding: 5px;
    border: black 0 0 5px;
    border-radius: 5px;
}

#voltar a:hover, #voltar a:focus{
    background-color: black;
    color: white;
}

/* para facilitar a visualização das areas dos elementos (o espaço que ocupam) */
/* h1{ background-color: red; }
h1 a{ background-color: green;}
nav{ background-color:yellow ; }
nav a { background-color: blue;} */

h1, h1 a, nav, nav a{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
    height: 50px;
}

h1 {
    padding:  5px;
    font-size: 2.2rem;
}

h1 img{ width: 50px; }

nav a:hover, nav a:focus{
    background-color: black;
    color: white;
}

/* poderia ser: 
#nome,#email,#telefone,#assunto,#mensagem */
input, textarea{
    border: solid 2px;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.5%;
    /* Não recomendado */
    outline: none ;
}

/* Não recomendado */
/* textarea { resize: none;} */

label{ font-weight: bold;}

button{
    border: none;
    padding: 10px;
    font-weight: bold;
    background-color: black;
    color: white;
}

button:hover, button:focus{
    background-color: darkblue;
    
}

/* regras de media queries (breakppoints) */

/* 1º breakpoint 
telas a partir de 700px */
@media screen and (min-width: 700px){
    /* h2{ color:red;} pra ver se funfa */
    header div {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: auto;
        /* box-shadow: red 0 0 10px; */
    }
    .grupo{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .grupo section , .grupo figure{ width: 49%; }
}

/* 2° Breackpoint telas apartir de 850px */

@media screen and (min-width: 850px){
    html{ font-size: 20px; }
}

/* 3° Breackpoint telas apartir de 1000px */

@media screen and (min-width:1000px){
    html{font-size: 25px;}
    h1 img{ width: auto;}
    header {
        position:fixed;
        width: 100%;
        top: 0;
        z-index:1000;
    }

    /* como header ficou fixo(regra anterior) presisamos compensar a distancia do restante do conteúdo(os articles) usando espaçamento superior(padding-top:) */
    #topo, #o-que-fazemos, #nossas-equipes, #contato {
        padding-top: 75px;
    }
    #voltar {display: none;}

    header div, main{
        max-width: 1000px;
    }
}